{% extends 'base.html.twig' %}



{% block container %}
    {% block body %}
        {% block header %}
            {{ parent() }}
        {% endblock %}
        <section class="intro">

            <div class="inner">

                <div class="content1">
                    <h3>От добри хора за добри хора</h3>
                    <hr>
                    <h1><b>Good</b> People</h1>

                    <br>
                    <a class="btn1" href="{{ path('security_register') }}"><b>Присъедини се</b></a>
                </div>
            </div>
        </section>
        <div class="index-p">
            <h1>За <b>Нас</b></h1>

            <br>
            <p>Здравей!<br>
                Добре дошъл на едно различно място, където няма лоши новини.<br>
                Тук хората си помагат и варват в добротo.<br>
                Ако чувстваш,че пропускаш важните неща в живота <br>
                погълнат от забързаното ежедневие,<br>
                ако се чувстваш непълноценен и тъжен,<br>
                и искаш да поемеш в една друга позитивна посока,<br>
                то тогава това е мястото за теб!<br>
                Присъедини се към нас и започни още сега <br>
                да преоткриваш радостта от живота.<br>
                Защото животът е едно приключение,<br>
                наслаждавай му се, докато помагаш на себе си и на другите. :)

            </p></div>
        <div class="weLove">
            <div class="container">
                <div class="weLove-p">
                    <h2>Какво <b>обичаме</b>?</h2>

                    <br>
                    <br>
                    <div class="items">

                        <div class="col-lg-3 col-md-3">
                            <img src="{{ asset('imgonline-com-ua-shape-b22dt883Ksa.jpg') }}" width="70%"
                                 height="70%" class="single-image">
                            <h4>Обичаме природата</h4>

                        </div>

                    </div>
                    <div class="items">
                        <div class="col-lg-3 col-md-3">
                            <img src="{{ asset('imgonline-com-ua-shape-Z0pK6Ke1mOO5e.jpg') }}" width="70%"
                                 height="70%" class="single-image1">
                            <h4>Обичаме хората</h4>
                        </div>
                    </div>
                    <div class="items">
                        <div class="col-lg-3 col-md-3">
                            <img src="{{ asset('imgonline-com-ua-shape-iITV0Kk5AC.jpg') }}" width="70%" height="70%"
                                 class="single-image1">
                            <h4>Обичаме животните</h4>
                        </div>
                    </div>
                    <div class="items">
                        <div class="col-lg-3 col-md-3">
                            <img src="{{ asset('imgonline-com-ua-shape-gvsvFReo2z.jpg') }}" width="70%" height="70%"
                                 class="single-image">
                            <h4>Обичаме себе си</h4>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="down">
            <img src="https://images.pexels.com/photos/4827/nature-forest-trees-fog.jpeg">

        </div>



    {% endblock %}

{% endblock %}
{% block footer %}

{% endblock %}
