{% extends 'base.html.twig' %}

{% block container %}
    {% block body %}
        {% block header %}
            {{ parent() }}
        {% endblock %}
        <section class="intro" style="background:url('https://images.pexels.com/photos/186599/nature-milky-way-stars-sky-186599.jpeg');background-size:cover;
        opacity: 0.9">

            <div class="inner">
                <div class="container body-content">
                    <div class="row" style="background: #f9f2f4; padding-bottom: 15px; opacity: 0.8;">
                        <div class="col-md-12">
                            <article>
                                <header>
                                    <h2>{{ cause.title }}</h2>
                                </header>

                                <p>
                                    {{ cause.content }}
                                </p>

                                <small class="author" style="color: #002a80">
                                    {{ cause.author.username }}
                                </small>

                                <footer>
                                    <div class="pull-right">

                                        <a class="btn btn-default btn-xs" href="{{ path('people_index') }}">back &raquo;</a>
                                        {% if app.getUser() and (app.getUser().isAuthor(cause) or app.getUser().isAdmin()) %}
                                        <a class="btn btn-success btn-xs" href="{{ path('edit_cause',{'id': cause.id}) }}">edit &raquo;</a>
                                        <a class="btn btn-default btn-xs" href="{{ path('delete_cause',{'id': cause.id}) }}">delete &raquo;</a>
                                        {% endif %}
                                    </div>
                                </footer>
                            </article>
                        </div>
                    </div>
                </div>


            </div>

        </section>
    {% endblock %}
{% endblock %}
{% block footer %}
{% endblock %}
